@charset "utf-8";
/*
   Sample start files #2 is a 2-column fixed layout provided in CMIS 410
   For educational purposes only
  Name:
	Date:
*/


/*Body Header Styles */

body {width: 95%;}

body > header > img {
	display: block;
	width: 100%
}

body > header > nav.horizontalNavigation li {
	width: 25%;
}

/* Horizontal Navigation Styles */

nav.horizontalNavigation li {
	display: block;
	float: left;
}

nav.horizontalNavigation a {
	display: block;
	text-align: center;
}

/* Left Column Styles */

section#leftColumn {
	clear: left;
	float: left;
	padding: 1.5em;
	width: 33%;
}

/* Right Column Styles */

section#rightColumn {
	float: left;
	width: 67%;
}


